
* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    background: url(images/noise.jpg);
}

.clear {
    clear: both;
}

#page-wrap {
    width: 800px;
    margin: 40px auto 60px;
}

#pic {
    width: 35%;
    height: 35%;
    float: right;
    margin: -30px 0 0 0;
}

h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
}

.fab {
    font-size: 30px;
    border-bottom: 0px;
}

.email {
    text-decoration:none;
    color: rgb(0, 97, 207);
}

.email:hover {
    cursor:pointer;
    color: rgb(0, 45, 112);

}
.links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
    color: rgb(0, 0, 51);
}

h2 span {
    position: absolute;
    bottom: 0; right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 16px; color: rgb(97, 97, 97);
    font-weight: normal;
}

p {
    margin: 0 0 16px 0;
}

dl a {
    color: rgb(90, 14, 231);
    text-decoration: none;
    border-bottom: 1px dotted rgb(90, 14, 231);
}

dl a:hover {
    border-bottom-style: solid;
    color: rgb(90, 14, 231);
}

ul {
margin: 0 0 32px 17px;
}

#objective {
    width: 500px;
    float: left;
}

#objective p {
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666;
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid rgb(97, 97, 97);
}

dd {
    width: 600px;
    float: right;
}

dd.clear {
    float: none;
    margin: 0;
    height: 15px;
}


#printIcon {
    margin-left:50px;
    color: black;
    font-size: 30px;

}